workflow/AI Chatbot_n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on user input: {{ $json.messages[0].text.body }}, please generate a friendly, accurate, concise response.\n\nIf unsure, search the vector store via the `documents` tool for more context.\n\nRules:\n- Reply in Bahasa Malaysia-English mix if the user asked in Malay.\n- Keep response concise and sorted properly.\n- Avoid guessing; use document search if needed.\n- Only answer if the topic is found in documents. Otherwise, politely say you cannot help due to lack of info.\n",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        688,
        -160
      ],
      "id": "6bfce509-a223-4cbf-a60d-01f93734c3a7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].text.body }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        80
      ],
      "id": "8ddd9f9f-7649-47f6-bad2-5e36237d792e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "documents",
        "description": "Call this tool to access information on supabase to answer user question"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        848,
        64
      ],
      "id": "4e66fa67-4f01-4c4b-b62d-6d7354dbe9ee",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        288,
        -160
      ],
      "id": "2346b25f-deea-441e-86cf-6da3bbfb1a7b",
      "name": "WhatsApp Trigger",
      "webhookId": "67b9b7dd-24f8-431f-ab9a-917b80f3c633",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "QgOVTjG3RzHkAR44",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "731679530038898",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1232,
        -160
      ],
      "id": "77083ef7-4524-4763-8e1e-7c7e7a7f5bf2",
      "name": "Send message",
      "webhookId": "6ee9a48f-fafa-448c-8f43-692a8ddd8ac0",
      "credentials": {
        "whatsAppApi": {
          "id": "5I0Xle2gGYoHSecz",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1024,
        640
      ],
      "id": "8250f922-a825-49fc-91ca-256e44872432",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1A2eZ8w8ZgfT-Mwm8tvZCjdAYe-bbxTEa",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1A2eZ8w8ZgfT-Mwm8tvZCjdAYe-bbxTEa"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        640
      ],
      "id": "ea66fab0-50e2-439a-a889-b2e224514411",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FFceQQ3HzZTD48pc",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1472,
        640
      ],
      "id": "9e435a2e-2647-4111-a4a2-d10e48fe707c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FFceQQ3HzZTD48pc",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1728,
        640
      ],
      "id": "4c16d4ea-bf9e-4bf6-a067-d3688b801abd",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "GNmxYzl25E5HJijk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1872,
        848
      ],
      "id": "6dd86876-daeb-41ff-be64-1fee7113abc5",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1968,
        1056
      ],
      "id": "b92c8a30-1bbf-4065-b69c-21c18ebcc696",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1664,
        848
      ],
      "id": "8c941ddb-f0a1-4f8e-bda7-7ab83e88b0e2",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "CTbI2eBkner0L4NI",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        704,
        240
      ],
      "id": "f965b40c-e08c-4fc9-a5a6-11e4fe6b19b8",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "GNmxYzl25E5HJijk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        256
      ],
      "id": "6a0d667c-cb10-4465-b7d3-384deaa18143",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "CTbI2eBkner0L4NI",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        400
      ],
      "id": "d23ab292-5c0b-43a6-868d-ebcabb63047b",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "CTbI2eBkner0L4NI",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        112
      ],
      "id": "bec0e5bd-0939-40a1-b41e-cddf11a70499",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9iUAjBKAi62fmA40",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d7a2d76-b747-4afb-af18-bcab0fedafa1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "217d000fc35bc37b03d4ca1306edc7be33c009cc5fa6e8d583d42914d2a690cd"
  },
  "id": "yi7DPvXiELRROPj4",
  "tags": [
    {
      "createdAt": "2025-07-25T07:10:40.484Z",
      "updatedAt": "2025-07-25T07:10:40.484Z",
      "id": "9KUTLBoj64e7QUJp",
      "name": "onlinecourse"
    }
  ]
}